.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
border-radius: 10px;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

body {
    background-image: url('../images/cheetah.png'); 
    background-attachment: fixed;  
    background-size:cover; 
    background-position: center; 
    background-attachment: sticky; 
    padding-top: 200px; 
    padding-bottom: 200px; 
    padding-left: 50px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    
}

/* .searchTerm {
    width: 100%;
    border:1px solid white;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    background-color: #1C00ff00;
    
}

.searchTerm:focus{
    color: white;
}

.searchButton {
    width: 125px;
    height: 40px;
    border: 1px solid white;
    background: #F7F0E6;
    text-align: center;
    color: black;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
}

        /*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
} 