@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* to import rubik 
element{
    font-family: 'Rubik', sans-serif;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* to import roboto

element{
  font-family: 'Roboto', sans-serif;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* to import patua one

element{
  font-family: 'Patua One', cursive;
} 
*/

.nav-item{
margin-right:30%;
/* width: auto; */
font-size: 16px;
}

.navbar{
background-color:#EEE2CC;
overflow: auto;
width: 100%;
}

.btn {
transition-duration: 0.4s;
}

.btn:hover {
background-color: #9E8A81;
color: white;
border: 1px solid #9E8A81;
}

.btn{
background-color: #1C00ff00; 
width: 8em; 
height: 40px;
box-sizing: border-box; 
border-radius: 20px; 
color: #9E8A81;
font-family: 'Roboto', sans-serif;
margin-left:18%; 
position:sticky; 
border: 1px solid #9E8A81; 
padding-left:3%; 
padding-right:3%
}

body {
background-color: #f7f0e6;
}